@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperLtBT-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperLtBT-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperMdBT-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperMdBT-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperLtBT-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperLtBT-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperBlkBT-Regular.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper BT";
    src: url("Fonts/Cooper_BT_Font_Family/CooperBlkBT-Italic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lavonia";
    src:
        url("Fonts/Lavonia Font/EDLavonia-Regular.otf") format("opentype"),
        url("Fonts/Lavonia Font/EDLavonia-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-body: "Cooper BT", "Georgia", serif;
    --font-display: "Lavonia", "Georgia", serif;
}

body {
    font-family: var(--font-body);
}
