html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    background: #fff;
    color: #333;
}

/* Members Section Styles */


#members  {
    font-family: Arial, sans-serif;
    margin: 20px, auto;
    line-height: 1.6;
    display: grid;
    grid-auto-flow: row;
}

#members h2 {
    text-align: center;
    margin-bottom: 1em;
}

#members ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em; /* space between rows and columns */
    max-width: 100%; /* ensure it doesn't overflow the container */
    box-sizing: border-box; /* include padding and border in element's total width and height */
    justify-content: center;
}

#members ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75em; /* space between image and text */
    margin-right: 10em; /* space between list items */
}

#members ul li img {
    width: 200px; /* set a fixed width for images */
    height: auto; /* maintain aspect ratio */
    border-radius: 8px; /* optional: rounded corners for images */
}